<div class="orders-wrapper">
  <div class="orders-content">
    <h2>Orders</h2>
    <hr />

  <div class="card-grid">
    <a *ngFor="let order of paginatedOrders"
      [routerLink]="['/orders', order.id]"
      class="pizza-card order-card-link">
      <h3 class="pizza-title">Order #: {{ order.id }}</h3>
      <p><strong>Date:</strong> {{ order.orderDate | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
    </a>
  </div>
    
  </div>

  <div class="pagination-fixed">
    <button class="btn" (click)="prevPage()" [disabled]="currentPage === 1">⬅ Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next ➡</button>
  </div>

</div>




