.sidebar-link {
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: block;
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #c82333;
    text-decoration: none;
  }

  &.active {
    background-color: #bd2130; // darker for active state
    font-weight: bold;
  }
}
